body {
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    background-color: #1f2937;
    font-family: 'Times New Roman', Times, serif;
    color: #e5e7eb;
}

.links {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    gap: 24px;
    min-height: 50px;
    align-items: center;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    min-height: 460px;
    /**height: 390px;
    width: 736px;**/
}

.hero-main {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
    margin: 0px;
    padding: 0px;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color:#3882f6;
    color:#f9faf8;
    border-radius: 12px;
    width: 80px;
    height: 30px;
    
}

 .hero-text {
    height: 390px;
    width: 736px;
    display: flex;
    flex-direction: column;
    gap: 24px;

 }

 .hero-image {
    margin: 24px 24px 24px 24px;
 }

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    min-height: 340px;
}

.info-product {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.product-image {
    height: 180px;
    width: 200px;
    
}

.product-list {
    width: 240px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    background-color: #464646;
    gap: 18px;
}

.quote-text {
    color: #2e0f0f;
    font-weight: lighter;
    font-size: 28px;
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 660px;
}

.quote-source {
    color: #2e0f0f;
    font-weight: bold;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 360px;
}

.button {
    color: #f9faf8;
    border: #f9faf8 solid 3px;
    width: 105px;
    height: 40px;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    min-height: 168px;
}

.action-banner {
    display: flex;
    background-color: lightgray;
    width: 700px;
    height: 80px;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.action-main {
    font-weight: bolder;
}



/**
.logo {
    font-size: 24px;
    color: #f9faf8;
}
**/








































//*
body {
    display: flex;
    flex-direction: column;
}


.header-logo {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
//*